@{
    ViewData["Title"] = "Public Chatroom";
}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Public Chatroom</h5>
                <ul class="list-unstyled" id="messageList">
                </ul>
                <div>
                    <div class="form-outline">
                        <textarea class="form-control" rows="4" id="messageInput"></textarea>
                    </div>
                    <button type="button" class="btn btn-info btn-rounded float-end" id="sendButton">Send</button>
                    <input type="file" id="fileInput" />
                    <button type="button" class="btn btn-info btn-rounded float-end" id="sendFileButton">Send File</button>
                    <div>To avoid server memory issues, files larger than 1MB will fail to send.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<div hidden id="userName">@User.Identity.Name</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/publicchat.js"></script>
<script src="~/js/listen.js"></script>