@{
    ViewData["Title"] = "Public Chatroom";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Sending as: </div>
        <div class="col-4"><b id="userName">@User.Identity.Name</b></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-4"><input type="file" id="fileInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-1">
            <input type="button" id="sendFileButton" value="Send File" />
        </div>
    </div>
    <div class="col-4">To avoid memory issues, files larger than 1MB will fail to send.</div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/publicchat.js"></script>
<script src="~/js/listen.js"></script>