@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Private Chat";
}

@model List<IdentityUser>

<h1>Choose a contact</h1>
<br />

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Members</h5>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            @foreach (IdentityUser u in Model.Where(u => u.UserName != User.Identity.Name))
                            {
                                <li class="p-2 border-bottom">
                                    <a href="#!" class="d-flex justify-content-between">
                                        <div class="d-flex flex-row">
                                            <div class="pt-1">
                                                <p class="fw-bold mb-0">@Html.ActionLink(u.UserName, "Message", "Chat", new { user = u.UserName })</p>
                                            </div>
                                        </div>
                                        <div class="pt-1">
                                            @*<p class="small text-muted mb-1">Yesterday</p>*@
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
</section>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/listen.js"></script>