@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h2>
                    ClassHelpers
                </h2>
                <p>
                    App, which gives students the opportunity to help themselves during tests in a faster way- it offers one to one chat, group chats and cheat sheets
                </p>
                <p>
                    <a class="btn btn-secondary" href="/Identity/Account/Register">Register</a>
                    <a class="btn btn-primary" href="/Identity/Account/Login">Login</a>
                </p>
            </div>
            <div class="text-center jumbotron">
                <hr />
                <h3>Features</h3>
                <h4>Public chatroom</h4>
                <img src="/img/img1.png" width="700" />
                <p>Communicate with other users on the site.</p>
                <h4>Private messaging</h4>
                <img src="/img/img2.png" width="700" />
                <p>Exchange messages privately with a contact.</p>
                <h4>Cheatsheet database</h4>
                <p>View and upload helpful resources to make them accessible to others.</p>
            </div>
        </div>
    </div>
</div>