@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ClassHelpers!</h1>
    <p>App, which gives students the opportunity to help themselves during tests in a faster way- it offers one to one chat, group chats and cheat sheets</p>
</div>
